OPENAI_API_KEY=<key>
LANGSMITH_API_KEY=<key>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=enterprise-ai-engineering-platform


JIRA_URL="https://<user-name>.atlassian.net"
JIRA_USERNAME="<email-id>@gmail.com"
JIRA_API_TOKEN"="<token>"


GITHUB_TOKEN=<token>